.search {
  margin-top: 45px;
  background-image: url("../img/pic_main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  object-fit: contain;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/pic_main-desktop@2x.jpg");
  }
}

.search__container {
  padding-top: 42px;
  padding-bottom: 40px;
}

.search__title {
  @include zeroing;
  margin-bottom: 23px;
}

.search__form-wrapper {
  margin-bottom: 7px;
}

.search .search__form {
  position: relative;
  max-width: 800px;
}

.search__input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
  border: 3px solid $lite-grey;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.46);
  }
}

.search__input-icon {
  position: absolute;
  top: 8px;
  right: 12px;
}

.search__button {
  display: none;
}

.search__text {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: $white;
}

@media (min-width: $desktop-width) {
  .search {
    margin-top: 66px;
  }

  .search__container {
    padding-top: 90px;
    padding-bottom: 110px;
  }

  .search .search__title {
    margin-bottom: 15px;
    text-align: left;
  }

  .search__input {
    padding: 20px 22px;
  }

  .search__input-icon {
    display: none;
  }

  .search__form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .search .search__form {
    margin-right: 15px;
    flex-grow: 2;
}

  .search__button {
    display: block;
    @include button;
    width: 142px;
  }

  .search__text {
    font-size: 16px;
    line-height: 22px;
  }
}
