html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts//open-sans-v18-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans Semibold";
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  src: url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
  font-style: normal;
  font-display: swap; }

.page {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff; }

.page .main__search {
  background-color: #004685; }

.container {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

@media (min-width: 1280px) {
  .container {
    padding: 0; } }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
  border-bottom: 1px solid #00468533; }

.header__container {
  padding-top: 10px; }

.header__button {
  display: none; }

@media (min-width: 800px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 5px; }
  .header__button {
    display: block;
    border: none;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    width: 44px;
    height: 44px;
    background: url("../img/icon_help.svg") 0 0 no-repeat;
    right: 26px;
    top: 10px; } }

.logo {
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 800px) {
  .logo {
    padding-right: 70px;
    padding-left: 35px;
    text-align: center; }
  .logo__site-logo {
    width: 295px;
    height: 44px; } }

.main-nav {
  position: relative; }

.main-nav__toggle {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: transparent;
  font-size: 0;
  width: 24px;
  height: 22px;
  top: -32px;
  right: 20px; }

.main-nav__toggle .main-nav__icon {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #004685;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.main-nav__toggle .main-nav__icon::before,
.main-nav__toggle .main-nav__icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #004685;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.main-nav__toggle .main-nav__icon::before {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px); }

.main-nav__toggle .main-nav__icon::after {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px); }

.main-nav--opened .main-nav__toggle .main-nav__icon {
  content: "";
  background-color: transparent; }

.main-nav--opened .main-nav__toggle .main-nav__icon::before {
  -webkit-transform: translate(0, 0) rotate(45deg);
          transform: translate(0, 0) rotate(45deg); }

.main-nav--opened .main-nav__toggle .main-nav__icon::after {
  -webkit-transform: translate(0, -3px) rotate(-45deg);
          transform: translate(0, -3px) rotate(-45deg); }

.main-nav__wrapper {
  position: absolute;
  top: 0;
  right: -270px;
  max-width: 260px;
  z-index: 10;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: -3px 1px 6px rgba(0, 0, 0, 0.16);
          box-shadow: -3px 1px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }

.main-nav--opened .main-nav__wrapper {
  right: 0; }

@media (min-width: 800px) {
  .main-nav__toggle {
    width: 30px;
    height: 27px;
    top: -40px;
    left: 33px; }
  .main-nav__toggle .main-nav__icon {
    height: 4px; }
  .main-nav__toggle .main-nav__icon::before,
  .main-nav__toggle .main-nav__icon::after {
    content: "";
    height: 4px; }
  .main-nav__toggle .main-nav__icon::before {
    -webkit-transform: translate(0, -9px);
            transform: translate(0, -9px); }
  .main-nav--opened .main-nav__toggle .main-nav__icon::after {
    -webkit-transform: translate(0, -4px) rotate(-45deg);
            transform: translate(0, -4px) rotate(-45deg); }
  .main-nav__wrapper {
    top: 6px;
    left: -290px;
    max-width: 280px;
    -webkit-box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.16);
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  .main-nav--opened .main-nav__wrapper {
    left: 0;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; } }

.navigation {
  padding: 20px; }

.navigation__title {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: "Open Sans Bold", Arial Bold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase; }
  .navigation__title--first {
    margin-top: 0; }

.navigation__link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #004685;
  text-decoration: underline;
  margin-bottom: 18px; }

.button {
  text-align: center;
  padding: 15px 10px;
  background-color: #D30531;
  color: #ffffff;
  font-size: 24px;
  line-height: 33px;
  border-radius: 10px; }

.search {
  margin-top: 45px;
  background-image: url("../img/pic_main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  -o-object-fit: contain;
     object-fit: contain; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .search {
      background-image: url("../img/pic_main-desktop@2x.jpg"); } }

.search__container {
  padding-top: 42px;
  padding-bottom: 40px; }

.search__title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px; }

.search__form-wrapper {
  margin-bottom: 7px; }

.search .search__form {
  position: relative;
  max-width: 800px; }

.search__input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
  border: 3px solid #00468533;
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  .search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .search__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .search__input::placeholder {
    color: rgba(0, 0, 0, 0.46); }

.search__input-icon {
  position: absolute;
  top: 8px;
  right: 12px; }

.search__button {
  display: none; }

.search__text {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff; }

@media (min-width: 800px) {
  .search {
    margin-top: 66px; }
  .search__container {
    padding-top: 90px;
    padding-bottom: 110px; }
  .search .search__title {
    margin-bottom: 15px;
    text-align: left; }
  .search__input {
    padding: 20px 22px; }
  .search__input-icon {
    display: none; }
  .search__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px; }
  .search .search__form {
    margin-right: 15px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .search__button {
    display: block;
    border: none;
    cursor: pointer;
    width: 142px; }
  .search__text {
    font-size: 16px;
    line-height: 22px; } }

.title {
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }
  .title--white {
    color: #ffffff; }

@media (min-width: 800px) {
  .title {
    font-size: 36px;
    line-height: 49px; } }

.pay {
  padding-top: 28px; }

.pay__title {
  margin: 0;
  padding: 0; }

.pay__text--first {
  display: block; }

.pay__text--second {
  display: none; }

.pay__wrapper {
  margin-top: 15px; }

.pay__list {
  display: none; }

@media (min-width: 800px) {
  .pay {
    padding-top: 60px; }
  .pay__title {
    margin-bottom: 10px; }
  .pay__text--second {
    display: block; }
  .pay__text--first {
    display: none; }
  .pay__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .pay__item {
    padding: 5px 15px;
    white-space: nowrap; }
    .pay__item--last {
      font-size: 19px;
      line-height: 26px; }
  .pay__link {
    color: #004685;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid #00468533; } }

.accordion__item {
  border-bottom: 1px solid #00468533; }

.accordion__title-wrapper {
  padding: 15px 15px 15px 58px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .accordion__title-wrapper::before {
    position: absolute;
    content: "";
    width: 44px;
    height: 44px;
    top: 6px;
    left: -6px; }
  .accordion__title-wrapper--fine::before {
    background: url(../img/icon_fine.svg) no-repeat; }
  .accordion__title-wrapper--court::before {
    background: url(../img/icon_court.svg) no-repeat; }
  .accordion__title-wrapper--taxes::before {
    background: url(../img/icon_taxes.svg) no-repeat; }
  .accordion__title-wrapper--services::before {
    background: url(../img/icon_services.svg) no-repeat; }
  .accordion__title-wrapper::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../img/arrow.svg) no-repeat;
    top: 23px;
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .accordion__content-wrapper--opened > .accordion__title-wrapper::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }

.accordion__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #004685;
  border-bottom: 1px solid #00468533;
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: relative; }

.accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear; }

.accordion__text {
  margin: 0;
  padding: 0;
  margin-top: 12px; }
  .accordion__text--last {
    margin-top: 24px;
    margin-bottom: 18px; }

.accordion__text-important {
  display: block;
  color: #D30531;
  font-family: "Open Sans Bold", Arial Bold, sans-serif;
  text-transform: uppercase; }

.accordion__image {
  display: none; }

@media (min-width: 800px) {
  .accordion__item-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .accordion__title-wrapper {
    padding: 0; }
    .accordion__title-wrapper::before, .accordion__title-wrapper::after {
      display: none; }
  .accordion__title {
    margin-bottom: 10px;
    font-family: "Open Sans Semibold", Arial Bold, sans-serif;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    border: none; }
  .accordion__content {
    overflow: visible; }
  .accordion__text--last {
    margin-top: 32px; }
  .accordion__image {
    display: block;
    margin-left: 40px;
    width: 320px;
    height: 320px }
    .accordion__image--left {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-left: 0;
      margin-right: 40px; } }

@media (min-width: 800px) {
  .anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden; } }

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 22px 5px 0; }

.gallery__item {
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  min-height: 168px; }

.gallery__link {
  color: #000000; }

.gallery__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  font-size: 12px;
  line-height: 16px; }

@media (min-width: 800px) {
  .gallery {
    padding: 25px 10px 35px; }
  .gallery__text {
    margin-top: 8px; } }

.partners {
  padding-top: 28px; }

.partners__title {
  margin: 0;
  padding: 0; }

@media (min-width: 800px) {
  .partners {
    padding-top: 60px; }
  .partners__title {
    margin-bottom: 25px; } }

.footer {
  background-color: #00468533; }

.footer__container {
  padding: 20px;
  text-align: center; }

.footer__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  font-size: 12px;
  line-height: 16px; }

@media (min-width: 800px) {
  .footer__container {
    padding: 30px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__text {
    width: 20%;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px; } }

.modal {
  position: relative; }
  .modal--closed {
    display: none; }
  .modal--opened {
    display: block; }

.modal__container {
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  top: 50px;
  right: 15px;
  padding: 24px 16px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  text-align: center; }
  .modal__container:before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: -18px;
    right: 18px; }

.modal__text {
  margin: 0;
  padding: 0; }

.modal__phone {
  display: block;
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #000000; }

.modal__link {
  display: block;
  font-family: "Open Sans Semibold", Arial Bold, sans-serif;
  color: #004685;
  text-decoration: underline; }

.modal-form {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .modal-form--closed {
    display: none; }
  .modal-form--opened {
    display: block; }

.modal-form__container {
  position: relative;
  background-color: #ffffff;
  padding: 24px 20px;
  min-height: 100vh; }

.modal-form__wrapper-titile {
  position: relative; }

.modal-form__close {
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 0;
  width: 24px;
  height: 22px;
  background-color: transparent;
  top: -10px;
  right: -10px; }
  .modal-form__close::before, .modal-form__close::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25); }
  .modal-form__close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal-form__close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal-form__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 80%;
  font-size: 16px; }

.modal-form__input {
  width: 100%;
  padding: 18px 20px;
  border: 3px solid #00468533;
  border-radius: 7px;
  margin-bottom: 15px;
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  .modal-form__input:last-child {
    margin-bottom: 25px; }
  .modal-form__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .modal-form__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .modal-form__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .modal-form__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.46); }
  .modal-form__input::placeholder {
    color: rgba(0, 0, 0, 0.46); }

.modal-form__button {
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px; }

.modal-form__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.modal-form__item {
  margin-bottom: 15px; }
  .modal-form__item:last-child {
    margin-bottom: 0; }

.modal-form__link {
  display: inline-block;
  color: #004685;
  border-bottom: 1px solid #00468533; }

@media (min-width: 800px) {
  .modal-form__container {
    max-width: 400px;
    min-height: 470px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .modal-form__container {
    padding: 24px 40px; }
  .modal-form__close {
    top: -10px;
    right: -30px; } }

/*# sourceMappingURL=style.css.map */
