// Fonts

$font-regular: "Open Sans Regular", Arial, sans-serif;
$font-semibold: "Open Sans Semibold", Arial Bold, sans-serif;
$font-bold: "Open Sans Bold", Arial Bold, sans-serif;

// Color

$white: #ffffff;
$black: #000000;
$blue: #004685;
$red: #D30531;
$lite-grey: #00468533;

// Breakpoints

$mobile-width: 320px;
$desktop-width: 800px;
$full-desktop-width: 1280px;

// Media

$retina-dppx: 1.5dppx;
